# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Repo information for active repositories
lang: en_gb
supported_langs: [en_gb,zh_cn,zh_hk]
baseurl: "https://mrpoons.studio.github.io/repo.info" # the subpath of your site, e.g. /blog
# url: "https://mrpoons.studio" # the base hostname & protocol for your site, e.g. http://example.com
site_source: "https://github.com/mrpoons-studio/repo.info"
instagram_username: mrpoons.studio
github_username: mrpoons-studio
backup_github_username: codenamedpktbusiness

github: [metadata]

# Build settings
theme: jekyll-theme-hacker
google_analytics:

plugins:
  - jekyll-feed
  - jekyll-redirect-from

markdown: CommonMarkGhPages
commonmark:
  options: ["GITHUB_PRE_LANG", "FOOTNOTES", "UNSAFE"]
  extensions: ["strikethrough", "autolink", "table", "tagfilter"]

collections:
  posts:
    output: true

feed:
  categories:
    - general
show_excerpts: true # set to true to show excerpts on posts

defaults:
# Set page.lang for all files under respective languages and ensure index.html is added for directories
  -
    scope:
      path: "en"
    values:
      lang: en
      permalink: /:path/:basename:output_ext

  -
    scope:
      path: "cn"
    values:
      lang: cn
      permalink: /:path/:basename:output_ext

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
